/*:root {
  --left: #1e90ff;
  --right: #11ffff;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.root{
    -fx-font-size: 12pt ;
    -fx-font-family: 'Fira Sans', sans-serif;
}
.button {
    -fx-background-color: #C9EAFF;
}

.titled-pane > *.content {
  -fx-background-color: null;
  -fx-border-color: null;
}

.titled-pane:focused 
{
-fx-text-fill: #111111;
}



.titled-pane > .title 
{
    -fx-border: none;
    -fx-background-color: transparent; 

}
 
 .chart-legend {
   -fx-background-color:  transparent;
   -fx-padding: 20px;
}

.default-color0.chart-pie { -fx-pie-color: #ffd700; }
.default-color1.chart-pie { -fx-pie-color: #ffa500; }